.Home {
  .btn-addMission {
    position: absolute;
    cursor: pointer;
    left: 75%;
    font-size: clamp(0.5rem, 10vw, 1rem); 
        @media screen and(max-width: 730px) {
      left: 12rem;
      font-size: clamp(0.1rem, 10vw, 0.6rem); 
      top: 4rem;
    }
    @media screen and(max-width: 350px) {
        left: 4rem;
      }
  }
  #goBack {
    z-index: 2;
  }
  .displayNone {
    display: none;
  }
  .display {
    display: block;
    position: absolute;
    width: 38px;
    height: 39px;
    left: 15rem;
    top: 4rem;
    cursor: pointer;
    
      @media screen and(max-width: 730px) {
        left: 7rem;
      }
     }
  
  }


 
  

