$color-1:#4A7AA9;
$color-3: #5BB7F3;
$color-2: #7D7987;
$color-4: rgb(211, 27, 57);
$black1: rgb(36, 36, 36);
$black2: rgb(49, 49, 49);
$black3: rgb(70, 70, 70);
$white: rgb(207, 207, 207);
$grey: rgb(95, 95, 95);
$shadow: 0 3px 20px rgba(0, 0, 0, 0.356);