
@import"../atoms/button.scss";


* {
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    text-decoration: none;

    &::selection {
        background:$color-opacite3;
        ;
    }
}




h1{
    @media screen and(max-width: 550px) {
    
font-size: 1.7rem;    
margin-top: 2rem;
line-height: 2rem;  }

}

