
@import"../atoms/button.scss";

@font-face {
    font-family: "Avenir";
    src: url("../typography/Avenir-Medium.ttf");
    font-weight: 600;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    text-decoration: none;
    
    font-family:"Avenir";

    &::selection {
        background:$color-opacite3;
        ;
    }
}




h1{
    @media screen and(max-width: 550px) {
    
font-size: 1.7rem;    
margin-top: 2rem;
line-height: 2rem;  }

}

