



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;

    &::selection {
        background: $color-2;
    }
}

body {


    line-height: 1.4rem;
    color: $color-2;
    padding: 2rem;
    min-height: 100vh;
    max-width: 1200px;
}