
@import"../atoms/button.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    text-decoration: none;

    &::selection {
        background:$color-opacite3;
        ;
    }
}

body {


    // // line-height: 1.4rem;
    // // color: $color-2;
    // // min-height: 100vh;
    // max-width: 1200px;
}


h1{
    @media screen and(max-width: 550px) {
    
font-size: 1.7rem;    
margin-top: 2rem;
line-height: 2rem;  }

}

