button {
        border-radius: 7px;
        font-size: clamp(0.1rem, 10vw, 0.5rem); 

    border: none;
    resize: none;
    // margin: 40px;
     margin-top:110px;
    max-width: 30%;
    padding: 10px;
    background:$color-night-bleu;
    ; 
    color: $white;
    &:hover {

        background: $color-2;
    }

}

