.MenuItem {
    text-decoration: none;
    color:#4A7AA9;
    margin-top: 1.8rem;
    transition: 0.3s;
    padding: 5%;
}

.MenuItem:hover {
    background-color: rgba(74, 122, 169, 0.3);
    padding: 5%;
    display: block;
    cursor: pointer;
}
