.wrapper {
  position: absolute;
  left: 60%;
  transform: translate(-40%, -50%);
  width: 40%;

  border-radius: 30px;

  padding: 1px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: $background-color-search-card;

  @media screen and(max-width: 600px) {
    left: 7rem;
  }
  .input {
    border: none;
    margin-left: 1em;
    border-radius: 5px;
    color: $color-night-bleu;
    background-color: $background-color-search-card;

    @media screen and(max-width: (    300px)) {
      border-radius: 20px;
    }
  }

  .searchbtn {
    width: 19%;
    position: relative;

    .svg-inline--fa {
      position: absolute;
      left: 2rem;
      color: $nightblue;
      top: 26%;
      bottom: -0.01%;
      @media screen and(max-width: (800px)) {
        left: 1rem;
      }
      @media screen and(max-width: (580px)) {
        left: -1rem;
      }
    }
  }

  .searchbtn .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;

    @media screen and(max-width: (600px)) {
      left: 10%;
    }
  }
}
.tags {
  width: 30%;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-left: 45%;
  padding-top: 1.7rem;
}
.tag {
  border-radius: 10px;
  align-items: center;
  color: black;
  text-align: center;
  width: 8rem;
  background-color: rgb(104, 186, 178,0.2);
  padding: 1% 1% 1% 1.5%;
    &:hover {
    background: #e1f1f9;
  }
  .svg-inline--fa {
    height: 1em;
    overflow: none;
    padding-left: 3rem;
    padding-top: 0.3rem;
    color: $color-night-bleu;


  opacity: 0.5;

  cursor: pointer;
  }
  span{
    color: $color-night-bleu;


    opacity: 0.5;
  }
}

