.details {
    position: fixed;
    color: $bluegreen;
    top: 50%;
    left: 50%;
    width: 50vw;
    min-height: 60vh;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, .5);
    background-color: white;
    &__closeButton {
        position: absolute;
        right: 10px;
        top: 10px;
        color: $nightblue;
        &:hover {
            cursor: pointer;
        }
    }
    &__mission {
        & > *:not(h3) {
            width: 100%;
            justify-content: flex-start;
            padding: 10px
        }
        display: flex;
        height: 100%;
        padding: 5%;
        flex-direction: column;
        align-items: center;
        &__description {
            padding-top: 15% !important;
        }
    }
}
