.card {
  width: 15rem;
  height: 100%;
  border-radius: 10px;
 
  &__content {
    &:hover{
      box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }
    color: #4A7AA9;
    width: 100%;
    height: 16rem;
    background: #EDEDED;
    margin: 10px auto;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.15s all ease-in-out;
  }
  &__header {
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    &__menu {
      order: 2;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 10px;
    }
    &__title {
      padding-left: 20px;
      order: 1;
      font-size: 1rem;
    }
  }
  &__client {
    padding-left: 20px;
    font-weight: bold;
    font-size: 1rem;
  }
  &__practice {
    padding-left: 20px;
    font-weight: bold;
    font-size: 1rem;
  }
  &__illustration {
    width: inherit;
  }
  &__status {
    padding-top: 2rem ;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    width: 50%;
    &__logo{
      width: 1.5rem;
    }
    &__disponible{
        padding-left: 2rem;
        display: flex;
        gap: 1rem
    }
  }
  &__statusDisponible {
      padding-left: 2rem;
      font-size: 1rem;

  }
}
