.Menu {
    height: 100vh;
    width: 250px;
    background-color: rgba(74, 122, 169, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    .MenuList {
        margin-top: 1.8rem;
        height: 100%;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

.MenuList .MenuItem {
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
