.container {
    margin-left: 1rem;
    @media screen and(max-width: 730px) {
        margin: 0 auto; 
        margin-top: 2rem;
        gap: 1rem;
    }    
    @media screen and(max-width: 380px) {
        padding-top: 2rem;
        margin: 0 auto;
    }
    h2 {
        padding-left: 5vw;
        //  padding-top: 4rem;
        color:$nightblue;

    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin-top: 5%;
        gap: 1rem;
    }
    li {
        list-style: none;
        padding-bottom: 5%;
         flex: 0 0 30%;
        margin-top: 3rem;
        
    }
}
