.addMission {
  textarea,
  input {
    width: 40%;
    border: none;
    resize: none;
    padding: 10px;
    margin-bottom: 3rem;

    display: flex;
    margin: auto;
  }

  form {
    margin-top: 7rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    text-align: center;
    min-width: 100%;
    @include colunm;

    h2 {
      margin-bottom: 2rem;
      color: $color-bleu;
    }
    label {
      margin: auto;
      margin-left: 23rem;
      width: 270px;
      color: $color-bleu;
      border-radius: 20px;
      display: flex;
      transition: 0.2s;
      z-index: 10;
      @media screen and(max-width: 1200px) {
        margin-left: 19rem;
      }
      @media screen and(max-width: 815px) {
        margin-left: 14rem;
      }
      @media screen and(max-width: 600px) {
        margin-left: 10rem;
      }
      @media screen and(max-width: 500px) {
        margin-left: 2rem;
      }
    }

    input,
    textarea {
      font-size: clamp(0.1rem, 10vw, 1rem);
      border-radius: 10px;
      margin-bottom: 2rem;
      border: solid 2px $grey;

      color: black1;

      @media screen and(max-width: 550px) {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }

    button {
        cursor: pointer;
      border-radius: 7px;
      border: none;
      resize: none;
      margin-left: 45rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding: 10px;
      font-size: clamp(0.1rem, 10vw, 1rem);

      background: $color-night-bleu;
      width: 20%;
      @media screen and(max-width: 1000px) {
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      @media screen and(max-width: 617px) {
        margin-top: 0.2rem;
        font-size: clamp(0.1rem, 10vw, 0.5rem);
      }

      &:hover {
        background: $color-2;
      }
    }

    p {
      text-align: center;
      margin: 10px 0 6px;
    }

    button,
    input,
    textarea {
      font-weight: 500;
    }
  }
  label[for='Description'] {
    margin-left: 15rem;
    @media screen and(max-width: 617px) {
      margin-left: 10rem;
    }
    @media screen and(max-width: 500px) {
      margin-left: 2rem;
    }
  }
  .description {
    height: 10rem;
    width: 60%;
    margin: auto;
  }
}

div.Toastify__toast--success,
div.Toastify__toast--error {
  height: 12px;
  width: 500px;
  padding-right: 10rem;
}
.input {
  display: flex;
  max-width: 80%;
  @media screen and(max-width: 605px) {
    flex-direction: column;
    align-items: center;
  }
}
