

button,
textarea,
input {
    min-width: 60%;
    height: 8vh;
    border-radius: 7px;
    border: none;
    resize: none;
    margin: 10px;
    padding: 10px;
    background: $color-1;
    cursor: pointer;

        background: $color-1;

}

form {
    font-size: 1.2rem;

    display: block;
    text-align: center;

    min-width: 100%;
    height: 100vh;
    border: inset #4A7AA9 0.5vw;
    padding: 5vw;
    font-family: inherit;

    input,textarea {

        &:focus {
            box-shadow: 10px 5px 5px $black3;         
                        color: $color-3;
        }
       

        @media screen and(max-width: 550px) {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    button
 {
    min-width: 30%;
   
    }
    .active-btn {
        background: $color-1;

        &:hover {
            background: $color-2;
        }
    }


    p {
        text-align: center;
        margin: 10px 0 6px;

    }
textarea{
    font-size: 1.2rem;

}

}

div.Toastify__toast--success ,div.Toastify__toast--error{
    height: 12px;
  width: 500px;
  padding-right: 10rem;
}

button{
    min-width: 10%;
}